{% extends "layout.html" %}

{% block subtext %}
@{{ screen_name }}
<h2>Looked up {{ totalTweets }} tweets</h2>
{% endblock %}

{% block body %}
<style>
    .tweet-text {
        padding-left: 5px;
    }
    .tweet-index {
        text-align:right;
    }
    tr {
        border-bottom: 1px solid #ccc;
    }
</style>
{{ chart | safe }}
<h3>Tweets list</h3>
<table class="table-striped">
    <tbody>
    {% for tweet in tweets %}
    <tr>
      <td class="tweet-index">{{ loop.index }}</td>
      <td class="tweet-text" style="color:{{ tweet.GetColor() }}">{{ tweet.text }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
